* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    position: relative;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000000;
}


/* INICIO DO HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 10px;
    background: #b5edea;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1999;
    border-bottom: 1px solid #00000010;
}

a {
    color: #000000;
    text-decoration: none;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 60px;
}

.menu a {
    padding: 5px;
    background-image: linear-gradient( transparent 0%, transparent 95%, #000000 95%, #000000 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
    font-size: 18px;
}

.menu a:hover {
    background-size: 100% 100%;
    background-position-x: left;
}

.btn-mobile {
    display: none;
}


/* FINAL DO HEADER */


/* INICIO DA PAGINA INICIAL*/

h1 {
    margin-top: 10rem;
    font-family: "Reenie Beanie", cursive;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-logo {
    height: 90px;
    width: 90vw;
    max-width: 590px;
}

.gif-sheep {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* FINAL DA PAGINA INICIAL */


/* INCIIO DO SOBRE NÓS */

.primeira-section {
    background-image: url(images/bg-1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.sobre-nos {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sobre-nos-1,
.sobre-nos-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.img-sobre-nos-1,
.img-sobre-nos-2 {
    width: 30%;
    height: 298px;
}

.txt-sobre-nos-1,
.txt-sobre-nos-2 {
    width: 40%;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
}


/* FINAL DO SOBRE NÓS */


/*INICIO DO PROJETOS */

.segunda-section {
    background-image: url(images/bg-2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

h2 {
    color: #2d3c71;
    font-family: "Peralta";
    margin-bottom: 35px;
}

.titulo p {
    width: 80%;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.projetos img:hover {
    cursor: pointer;
}

.projeto-1,
.projeto-3,
.projeto-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    width: 25%;
}

.obs {
    margin: 0 50px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 10px;
}


/* FINAL DE PROJETOS */


/* INICIO DO FORMULARIO*/

.fale-conosco {
    display: flex;
    margin: 50px 0;
    justify-content: space-evenly;
}

.fale-conosco span {
    width: 5px;
    height: auto;
    background-color: #00000050;
    border-radius: 9999px;
}

article {
    font-family: "Potta One", cursive;
    color: #334d6c;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback h2 {
    font-family: "Reenie Beanie", cursive;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.feedback p {
    font-size: 12px;
    margin-left: 20px;
    font-family: "Roboto Condensed", sans-serif;
}

.text-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-input label {
    margin-left: 10px;
}

input {
    height: 43px;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.541);
    margin-bottom: 20px;
    padding: 20px;
}

input:hover {
    background-color: #7575752f;
    border-color: rgba(0, 0, 0, 0.442);
    transition: ease-in-out 0.1s all;
}

.text-input textarea {
    width: 460px;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.541);
    padding: 4%;
    resize: none;
}

textarea:hover {
    background-color: #7575752f;
    transition: ease-in-out 0.1s all;
}

.text-input .submit {
    cursor: pointer;
    height: 45px;
    width: 200px;
    margin-top: 20px;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    border-color: rgba(0, 0, 0, 0.541);
    border-radius: 20px;
    transition: ease-in-out 0.1s all;
}

.submit:hover {
    border: 2px solid #757575b0;
    color: black;
    background-color: #75757565;
}


/* FINAL DO FORMULARIO */


/* INICIO DA PARTE DA EQUIPE */

.equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.titulo-nossa-equipe {
    text-align: center;
}

.equipe h2 {
    font-family: "Reenie Beanie", cursive;
    font-size: 40px;
    color: #000000;
}

.equipe p {
    width: 70%;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}

:is(.ceo, .devs) {
    display: flex;
    align-items: center;
    width: 40vw;
}

.flip-container {
    height: 250px;
    width: 100%;
    background-color: #b5edea;
    border-radius: 14px;
    perspective: 1000px;
}

.active .flipper {
    transform: rotateY(180deg);
}

.flipper {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

:is(.front, .back) {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.front h3 {
    align-self: center;
    font-family: "Peralta";
}

.back {
    align-items: center;
    transform: rotateY(180deg);
}

.back>span {
    align-self: center;
}

.img-back a {
    display: flex;
    flex-direction: row;
}

.img-back a span {
    margin-left: 5px;
}

.dev-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

.dev-body .perf-img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
}

.dev-body p {
    font-family: "Roboto Mono", monospace;
}

.dev-body .arrow-img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 3%;
}

.dev-body .arrow-img:hover {
    border-radius: 50%;
    background-color: #ffffff50;
    cursor: pointer;
}

.social-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    width: 50%;
}

.social-card a {
    all: unset;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.social-card img {
    width: 30px;
    height: 30px;
}


/* FINAL DA PARTE DA EQUIPE */


/* INICIO RODAPÉ DO SITE */

footer {
    display: flex;
    background-color: #b5edea;
    height: 150px;
    align-items: center;
}

footer>a>img {
    width: 160px;
    height: 55px;
    margin-left: 50%;
}

footer p {
    width: 100%;
    margin-top: 10%;
    font-family: "Ropa Sans", sans-serif;
}

.redes-sociais {
    width: max-content;
    text-align: center;
    align-items: center;
    margin-left: 25%;
}

.redes-sociais img {
    width: 30px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.wpp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.wpp:hover {
    color: #000000;
}


/* FINAL DO RODAPÉ */

@media only screen and (max-width: 680px) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0;
        height: 40vh;
        width: 100%;
        position: absolute;
        top: 80px;
        right: -100vw;
        transition: all 0.8s ease-out;
        z-index: 1000;
        overflow: hidden;
        visibility: hidden;
    }
    .nav.active .menu {
        background-color: #b5edea;
        right: 0;
        visibility: visible;
    }
    .menu li {
        height: 100%;
        display: flex;
    }
    .menu a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #00000010;
    }
    .btn-mobile {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        color: #000000;
        background: none;
        font-size: 10px;
        border: none;
        cursor: pointer;
    }
    .nav {
        text-align: center;
    }
    .nav a:hover {
        background: none;
    }
    .nav .btn-mobile {
        transition: all 0.4s ease-in-out;
    }
    .btn-mobile span {
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 9999px;
        background-color: #000000;
        transition: all 0.4s ease-in-out;
    }
    .btn-mobile span:not(:last-child) {
        margin-bottom: 7px;
    }
    .btn-mobile.active {
        transition-delay: 0.4s;
        transform: rotate(45deg);
    }
    .btn-mobile.active>span:nth-child(2) {
        width: 0;
    }
    .btn-mobile.active>span:nth-child(1),
    .btn-mobile.active>span:nth-child(3) {
        transition-delay: 0.2s;
    }
    .btn-mobile.active>span:nth-child(1) {
        transform: translateY(9px);
    }
    .btn-mobile.active>span:nth-child(3) {
        transform: translateY(-9px) rotate(90deg);
    }
    .page-inicial {
        width: 100%;
    }
    .ovelha-gift {
        width: 350px;
        height: 350px;
    }
    .txt-sobre-nos-1,
    .txt-sobre-nos-2 {
        width: 90%;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 16px;
    }
    .primeira-section {
        height: 100%;
        text-align: center;
    }
    .sobre-nos {
        display: flex;
        flex-direction: column;
    }
    .sobre-nos-1 {
        flex-direction: column;
    }
    .sobre-nos-2 {
        flex-direction: column-reverse;
        margin-top: -50px;
    }
    .img-sobre-nos-1,
    .img-sobre-nos-2 {
        width: 70%;
    }
    h2 {
        margin-bottom: 35px;
    }
    .segunda-section {
        height: 100%;
    }
    .projetos {
        flex-direction: column;
    }
    .projeto-1,
    .projeto-2,
    .projeto-3 {
        width: 70%;
        margin-bottom: 35px;
    }
    .text-input .submit {
        width: 100%;
    }
    .fale-conosco {
        width: 100vw;
        flex-direction: column;
        text-align: center;
    }
    .fale-conosco span {
        width: 100%;
        height: 2px;
        margin: 50px 0;
    }
    .feedback {
        margin: 0;
    }
    .feedback form {
        width: 90%;
        margin: 0;
    }
    .text-input input {
        width: 100%;
    }
    .text-input label {
        margin: 0;
    }
    .text-input textarea {
        width: 100%;
        height: 150px;
    }
    .equipe {
        gap: 20px;
    }
     :is(.ceo, .devs) {
        width: 90%;
    }
    .obs {
        margin: 0;
        text-align: center;
    }
    footer {
        flex-direction: column;
        height: auto;
    }
    footer a img {
        margin: 15px 0;
    }
    .redes-sociais {
        margin: 0;
    }
    .redes-sociais p {
        margin: 0;
    }
    .social {
        margin: 0;
    }
}